.header{
    padding: 15px 0;
}

.title-1{
    font-size: 42px;
    line-height: 1;
    margin-bottom: 24px;
}

.subtitle{
    background: #f0f8ff;
    color: #000;
    padding: 40px;
    max-width: 900px;
    width: 100%;
}

.menu{
    background:  #496883;
    color: #fff;
    margin: 20px 0;
    padding: 20px 40px;
    max-width: 900px;
    width: 100%;
}

.menu > * + *{
    margin-left: 30px;
}

.menu-link{
    text-decoration: none;
}

.menu-link:hover{
    text-decoration: underline;
}

.footer{
    background:  #1d3f5e;
    color: #fff;
    margin: 20px 0;
    padding: 20px 40px;
    max-width: 900px;
    width: 100%;
}

.main{
    background: #dcebf0;
    margin: 20px 0;
    padding: 40px;
    max-width: 900px;
    width: 100%;
}

